p{
    text-align:center;
    color: red;
    font-family:'lato';
    font: 2em sans-serif;
    
}

h1{
    text-align:center;
    color: black;
    font-family:'lato';
    font: 4em sans-serif;
}

body{

background-color:rgb(180, 177, 177);}


